<!DOCTYPE html>
<!-- saved from url=(0023)http://www.getchef.com/ -->
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" class=" js flexbox generatedcontent"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script type="text/javascript" async="" src="./_files/munchkin.js"></script><script type="text/javascript" async="" src="./_files/dc.js"></script>
<meta content="wK1kf6UVmc5cKZs3Jx0hM2QckSsmDiLjCOI7M3LlGVQ" name="google-site-verification">
<meta charset="utf-8">

<meta content="IE=9" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<title><%= node["ipaddress"] %>:<%= @port %> - Chef - Code Can | Chef</title>
<link href="http://www.getchef.com/favicon.png" rel="icon" type="image/png">
<link href="http://www.getchef.com/favicon.ico" rel="shortcut icon">

<link href="./_files/559ff49ee671cf02043fa3cc52478d38-base.css" rel="stylesheet" type="text/css">

<meta property="og:title" content="Chef">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.getchef.com/">
<meta property="og:site_name" content="Chef">
<meta property="og:image" content="http://s3.amazonaws.com/opscode-corpsite/assets/121/pic-chef-logo.png">
<meta property="fb:page_id" content="99334479301">
<meta property="fb:admins" content="100001710165672">

<script src="./_files/modernizr.js" type="text/javascript"></script>
<script src="./_files/128576591.js" type="text/javascript"></script>
<script src="./_files/tracker_getchef.js" type="text/javascript"></script>
<link href="./_files/fonts.css" rel="stylesheet" type="text/css">
</head>
<body class="oc  homepage" id="corp">
<header class="container">
  <div class="container container-fix hidden-xs hidden-phone">
    <div class="row">
      <div class="span12 col-md-12">
        <div class="sign-in-container text-right">
          <div class="login-links">
            <a href="http://supermarket.getchef.com/">Community</a>
            <a href="http://www.getchef.com/blog/">Blog</a>
            <a href="http://www.getchef.com/support/">Support</a>
            <a href="http://www.getchef.com/account/">Account</a>
            <a href="https://manage.opscode.com/">Management Console</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main-nav" class="container affix-top" data-spy="affix" data-offset-top="20" data-offset-bottom="200">

    <nav class="navbar navbar-default oc-navbar-default" role="navigation">
      <div class="row">
        <div class="span12 col-md-12">
          <div class="navbar-inner navbar-header">

            <a class="logo" href="./_files/Chef - Code Can   Chef.html">
              <img alt="Chef" onerror="this.src=//www.getchef.com/images/logo.png" src="./_files/logo.svg" title="Chef">
            </a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#c-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <div class="collapse nav-collapse navbar-collapse navbar-right" id="c-navbar">
            <ul class="nav navbar-nav oc-navbar">
              <li>
                <a href="http://www.getchef.com/chef/">
                  What Is Chef?
                </a>
              </li>
              <li>
                <a href="http://learn.getchef.com/">
                  Learn Chef
                </a>
              </li>
              <li>
                <a href="http://www.getchef.com/resources/">
                  Resources
                </a>
              </li>
              <li class="getchef-box">
                <div id="getchef-button">
                  <div class="scene">
                    <div class="cube">
                      <div class="cube-face cube-face-front">
                        <div class="cube-content">
                          <a href="http://www.getchef.com/chef/choose-your-version/" class="navbar-callout">Get Chef</a>
                        </div>
                      </div>
                      <!--<div class="cube-face cube-face-left hidden-xs hidden-sm"></div>-->
                    </div>
                  </div>
                  <div class="choose-content text-left"></div>
                </div>
              </li>
              <li id="responsive-sign-links" class="visible-phone visible-xs">
                  <ul>
                    <li>
                        <a href="http://supermarket.getchef.com/">Community</a>
                    </li>
                    <li>
                        <a href="http://www.getchef.com/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="http://www.getchef.com/support/">Support</a>
                    </li>
                    <li>
                        <a href="http://www.getchef.com/account/">Account</a>
                    </li>
                    <li>
                        <a href="https://manage.opscode.com/">Management Console</a>
                    </li>
                  </ul>
              </li>
    
            </ul>
          </div>

        </div>
      </div>
    </nav>
  </div>
</header>



<div id="content-outer">
<div id="video-mask" style="display: none;"></div>
<div id="video" style="display: none;">
<div class="video-container">
<div class="close-button glyphicon glyphicon-remove-circle"></div>
<video controls="controls" height="550" id="video-player" width="800"><source src="https://s3.amazonaws.com/opscode-corpsite/assets/chef.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/opscode-corpsite/assets/chef.webm" type="video/webm"><source src="https://s3.amazonaws.com/opscode-corpsite/assets/chef.ogv" type="video/ogg">
Your browser does not support the video tag.
</video>
</div>
</div>
<div id="hero">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="hero-content text-center">
<h1>
Automation for Web-Scale IT
</h1>
<h4>
Chef delivers fast, scalable, flexible IT automation.
</h4>
<div class="playback-container">
<a class="playback-button" href="http://www.getchef.com/#">
<img class="hover" src="./_files/icon-playback-over.png"><img class="default" src="./_files/icon-playback.png"></a>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="testimonials">
<div class="container">
<div class="row">
<div class="col-md-5">
<div class="testimonial-container active" id="slot-1">
<div class="quote">
"Chef provided an automation solution flexible enough to bend to our
scale dynamics without requiring us to change our workflow."
<div class="attribute">
― Phil Dibowitz, Production Engineer, Facebook
</div>
</div>
</div>
<div class="testimonial-container" id="slot-2">
<div class="quote">
"Chef enables our development team to go from an idea to
production-ready code in very little time. This means we are faster
to market with updates and more adaptive to changes in demand."
<div class="attribute">
― Gaurav Gupta, Vice President of cloud products, Splunk
</div>
</div>
</div>
<div class="testimonial-container" id="slot-3">
<div class="quote">
"Chef automates complex tasks that are otherwise time and resource
intensive, but more importantly it allows us to focus our efforts on
innovating and improving the quality of our services."
<div class="attribute">
― Sanjay Modi, Technical Director, Knowledge@Wharton
</div>
</div>
</div>
<div class="testimonial-container" id="slot-4">
<div class="quote">
"Chef helps our IT teams to more easily deploy new offerings and
rapidly scale applications."
<div class="attribute">
― John Esser, Director of Engineering Productivity and Agile
Development, Ancestry.com
</div>
</div>
</div>
<div class="testimonial-container" id="slot-5">
<div class="quote">
"Chef empowers our engineering teams to spin up test environments,
stage, and deploy applications at will, so we can move at the speed
of demand."
<div class="attribute">
― Pär Isaksson, CIO, Klarna
</div>
</div>
</div>
<div class="testimonial-container" id="slot-6">
<div class="quote">
"Chef plugged right in seamlessly. We now have a common code
blueprint that dev and ops share, so we're all operating from the
same playbook with real-time collaboration."
<div class="attribute">
― Konstantin Gredeskoul, CTO, Wanelo
</div>
</div>
</div>
</div>
<div class="col-md-7 logo-container">
<div class="row logo-row">
<div class="col-md-4 ctr active">
<div class="logo">
<a class="testimonial-link" href="http://www.getchef.com/customers/facebook/" id="slot-1">
<img src="./_files/testimonial-facebook-gray.png" style="display: none;"><img src="./_files/testimonial-facebook-white.png"></a>
</div>
</div>
<div class="col-md-4 ctr">
<div class="logo">
<a class="testimonial-link" href="http://www.getchef.com/customers/splunk/" id="slot-2">
<img src="./_files/testimonial-splunk-gray.png"><img src="./_files/testimonial-splunk-white.png" style="display: none;"></a>
</div>
</div>
<div class="col-md-4 ctr">
<div class="logo">
<a class="testimonial-link" href="http://www.getchef.com/customers/whartonschool/" id="slot-3">
<img src="./_files/testimonial-wharton-gray.png"><img src="./_files/testimonial-wharton-white.png" style="display: none;"></a>
</div>
</div>
</div>
<div class="row logo-row">
<div class="col-md-4 ctr">
<div class="logo">
<a class="testimonial-link" href="http://www.getchef.com/customers/ancestry/" id="slot-4">
<img src="./_files/testimonial-ancestry-gray.png"><img src="./_files/testimonial-ancestry-white.png" style="display: none;"></a>
</div>
</div>
<div class="col-md-4 ctr">
<div class="logo">
<a class="testimonial-link" href="http://www.getchef.com/customers/klarna/" id="slot-5">
<img src="./_files/testimonial-klarna-gray.png"><img src="./_files/testimonial-klarna-white.png" style="display: none;"></a>
</div>
</div>
<div class="col-md-4 ctr">
<div class="logo">
<a class="testimonial-link" href="http://www.getchef.com/customers/wanelo/" id="slot-6">
<img src="./_files/testimonial-wanelo-gray.png"><img src="./_files/testimonial-wanelo-white.png" style="display: none;"></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="index-carousel">
<div class="carousel slide" data-ride="carousel" id="carousel-example-generic">
<ol class="carousel-indicators">
<li class="" data-slide-to="0" data-target="#carousel-example-generic">
</li><li data-slide-to="1" data-target="#carousel-example-generic" class="active">
</li><li data-slide-to="2" data-target="#carousel-example-generic">
</li></ol>
<div class="carousel-inner">
<div class="item">
<img alt="Chef" src="./_files/bg-carousel-1.png" style="width: 100%;"><div class="carousel-caption">
<a href="http://www.getchef.com/solutions/web-scale-it/">
<h3>
Web-Scale IT
</h3>
<p>
There’s a new model for delivering great digital experiences. Get
started with our in-depth whitepaper.
</p>
</a>
</div>
</div>
<div class="item active">
<img alt="Chef" src="./_files/bg-carousel-1.png" style="width: 100%;"><div class="carousel-caption">
<a href="http://www.getchef.com/solutions/devops/">
<h3>
Enable DevOps
</h3>
<p>
Get everyone working together toward a shared goal - delighting
customers. We can help you adopt the processes, tools and cultural
elements.
</p>
</a>
</div>
</div>
<div class="item">
<img alt="Chef" src="./_files/bg-carousel-1.png" style="width: 100%;"><div class="carousel-caption">
<a href="http://www.getchef.com/solutions/continuous-delivery/">
<h3>
Continuous Delivery
</h3>
<p>
We can show you how to build an automated software delivery pipeline
to get new applications and services to market quickly.
</p>
</a>
</div>
</div>
</div>
<a class="left carousel-control" data-slide="prev" href="http://www.getchef.com/#carousel-example-generic">
<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" data-slide="next" href="http://www.getchef.com/#carousel-example-generic">
<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>
<div class="orange-mark-background" id="sign-up">
<h2>
Start your
<br>
free trial of Chef
</h2>
<div class="scene">
<div class="cube">
<a href="http://www.getchef.com/chef/choose-your-version/">
<div class="side top">
SIGN UP TODAY
</div>
<div class="side front">
SIGN UP TODAY
</div>
</a>
</div>
</div>
</div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="span12 col-md-12">
        <div>
          <div class="row social-media-row">
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="https://www.facebook.com/getchefdotcom" class="facebook">
                  Facebook
                </a>
              </div>
            </div>
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="https://twitter.com/chef" class="twitter">
                  Twitter
                </a>
              </div>
            </div>
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="http://www.youtube.com/user/getchef" class="youtube">
                  YouTube
                </a>
              </div>
            </div>
            <div class="span3 col-md-3">
              <div class="text-center social-media facebook">
                <a href="https://www.linkedin.com/groups/Chef-Users-Group-3751378" class="linkedin">
                  LinkedIn
                </a>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="span3 col-md-3">
              <h5>
                Products
              </h5>
              <ul>
                <li>
                  <a href="http://www.getchef.com/chef/">Chef</a>
                </li>
              </ul>
              <h5>
                Legal
              </h5>
              <ul>
                <li>
                  <a href="http://www.getchef.com/terms-of-service/">
                    Terms and Conditions of Use
                  </a>
                </li>
                <li>
                  <a href="http://www.getchef.com/privacy-policy/">
                    Privacy Policy
                  </a>
                </li>
                <li>
                  <a href="http://www.getchef.com/online-master-agreement/">
                    Online Master License and Services Agreement
                  </a>
                </li>
                <li>
                  <a href="http://www.getchef.com/service-level-agreement/">
                    Service Level Agreement
                  </a>
                </li>
                <li>
                  <a href="http://wiki.opscode.com/display/chef/How+to+Contribute">
                    Contributor License Agreements
                  </a>
                </li>
                <li>
                  <a href="http://www.getchef.com/trademark-policy/">
                    Trademark Policy
                  </a>
                </li>
              </ul>
            </div>

            <div class="span3 col-md-3">
              <h5>
                Solutions
              </h5>
              <ul>
                <li>
                  <a href="http://www.getchef.com/solutions/aws/">Amazon Web Services</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/cloud-management/">Cloud Management</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/coded-business/">Coded Business</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/configuration-management/">Configuration Management</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/docker/">Containers</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/continuous-delivery/">Continuous Delivery</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/devops/">DevOps</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/google-cloud-platform/">Google Cloud Platform</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/azure/">Microsoft Azure</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/services/">Professional Services</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/vmware/">VMware</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/web-scale-it/">Web-Scale IT</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/solutions/windows/">Windows</a>
                </li>
              </ul>
            </div>
            <div class="span3 col-md-3">
              <h5>
                Support
              </h5>
              <ul>
                <li>
                  <a href="http://docs.getchef.com/">Documentation</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/support/">Support</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/security/">Security</a>
                </li>
                <li>
                  <a href="http://learn.getchef.com/">Learn Chef</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/training/">Training</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/webinars/">Webinars</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/community/">Community Resources</a>
                </li>
              </ul>
            </div>
            <div class="span3 col-md-3">
              <h5>
                About Us
              </h5>
              <ul>
                <li>
                  <a href="http://www.getchef.com/blog/">Blog</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/blog/media-room/">Media Room</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/blog/events/">Events</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/about/">Company</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/blog/careers/">Careers</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/customers/">Success with Chef</a>
                </li>
                <li>
                  <a href="http://www.getchef.com/partners/">Partners</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="row bottom" style="padding-top: 50px;">
            <div class="span12 col-md-12">
              <div class="copyright">© 2008-2014 Chef Software, Inc. All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<script>
  //<![CDATA[
    var _gaq = _gaq || [];
    var pluginUrl = 
     '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_setAccount', 'UA-6369228-7']);
    _gaq.push(['_setDomainName', '.getchef.com']);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_addIgnoredRef','getchef.com']);
    _gaq.push(['_trackPageview']);
  //]]>
</script>

<script>
  //<![CDATA[
    var google_conversion_id = 1008643295;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
  //]]>
</script>
<script src="./_files/conversion.js" type="text/javascript"></script><iframe name="google_conversion_frame" title="Google conversion frame" width="300" height="13" src="./_files/saved_resource.html" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no">&lt;img height="1" width="1" border="0" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1008643295/?frame=0&amp;random=1410395955236&amp;cv=7&amp;fst=1410395955236&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=1440&amp;u_w=2560&amp;u_ah=1414&amp;u_aw=2560&amp;u_cd=24&amp;u_his=4&amp;u_tz=-240&amp;u_java=true&amp;u_nplug=30&amp;u_nmime=89&amp;frm=0&amp;url=http%3A//www.getchef.com/" /&gt;</iframe>
<noscript>
&lt;div style='display:inline; float:left;'&gt;
&lt;img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1008643295/?value=0&amp;amp;guid=ON&amp;amp;script=0"/&gt;
&lt;/div&gt;
</noscript>

<script src="./_files/oct.js" type="text/javascript"></script>
<script>
  //<![CDATA[
    twttr.conversion.trackPid('l4is4');
  //]]>
</script>
<noscript>
&lt;img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4is4&amp;p_id=Twitter" /&gt;
&lt;img height="1" width="1" style="display:none;" alt="" src="//http://t.co/i/adsct?txn_id=l4is4&amp;p_id=Twitter" /&gt;
</noscript>

<script src="./_files/jquery.min.js" type="text/javascript"></script>
<script src="./_files/jquery-ui.min.js" type="text/javascript"></script>
<script src="./_files/510d9310c6913bba4a65037d88cee739-combined.js" type="text/javascript"></script>




<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div></body></html>